@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>MainchatPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ここにサイト説明を入れます">
    <link rel="stylesheet" href="/css/chatstyle.css">
    <link rel="stylesheet" href="/css/chat.css">
</head>

<body>

    <header>
        <!-- <h1 class="logo"><a href="index.html"><img src="images/logo.png" alt="KIDS CLUB"></a></h1>
        <div class="tel"><img src="images/tel.png" alt=""></div> -->
    </header>

    <div id="contents">

        <main>

            <section class="deco">



                <div class="c2">

                    <div class="main">

                        <!-- 自分やユーザーの情報 -->

                        <div id="your_container">

                            <!-- チャットの外側部分① -->
                            <div id="messages_container">
                                <!-- ヘッダー部分② -->
                                <div id="chat_header">
                                    <!--ステータス-->
                                    <div id="chat_user_status">
                                        <!--ステータスアイコン-->
                                        <div id="status_icon">●</div>
                                        <!--ユーザー名-->
                                        <div id="chat_user_name">ユーザー名</div>
                                    </div>
                                </div>

                                <!-- タイムライン部分③ -->
                                <div id="messages">

                                    <!--メッセージ１（左側）-->
                                    <div class="message left">
                                        <div class="message_box">
                                            <div class="message_content">
                                                <div class="message_text">
                                                    こんにちは。これからたのしくおしゃべりしよう！
                                                    なんでも答えるから話しかけてみてね！
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clear"></div><!-- 回り込みを解除-->
                                    <!--メッセージ２（右側）-->
                                    <!--<div class="message right">
                                        <div class="message_box">
                                            <div class="message_content">
                                                <div class="message_text">サンプルテキスト。</div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="clear"></div><!-- 回り込みを解除-->
                                    <!--メッセージ3（左側）-->
                                    <!--<div class="message left">
                                        <div class="message_box">
                                            <div class="message_content">
                                                <div class="message_text">このURLを押せば人気のアニメが無料で見れるよ！</div>
                                                <a asp-area="" asp-controller="Talk" asp-action="fishingpage">こちらから</a>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="clear"></div><!-- 回り込みを解除-->
                                    <!--メッセージ4（右側）-->
                                    <!--<div class="message right">
                                        <div class="message_box">
                                            <div class="message_content">
                                                <div class="message_text">サンプルテキスト。サンプルテキスト。</div>
                                            </div>
                                        </div>
                                    </div>-->
                                    <div class="clear"></div><!-- 回り込みを解除-->
                                </div>



                                <!-- テキストボックス、送信ボタン④ -->
                                <div id="send">
                                    <input type="text" id="send_message" required size="10">
                                    <div id="send_btn">送信</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/.list-container-->

                </div>
                <!--/.main-->
            </section>

        </main>

    </div>
    <!--/.c2-->
    <!--<footer>
        <small>Copyright&copy; <a href="index.html">KIDS CLUB</a> All Rights Reserved.</small>
        <span class="pr"><a href="https://template-party.com/" target="_blank">《Web Design:Template-Party》</a></span>
    </footer>
    -->
    </section>
    <!--/#footer-->
    </div>
    <!--/#contents-->
    <!--jQueryの読み込み-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--biz56用のスクリプト-->
    <script src="js/main.js"></script>


    <!--ページの上部へ戻るボタン-->

    <div class="pagetop"><a href="#"><i class="fas fa-angle-double-up"></i></a></div>

    <!--パララックス（inview）-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/protonet-jquery.inview/1.1.2/jquery.inview.min.js"></script>
    <script src="js/jquery.inview_set.js"></script>

</body>
</html>
